[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect = 'SET collation_connection = utf8mb4_unicode_ci'
init_connect = 'SET NAMES utf8mb4'
skip-character-set-client-handshake

# 한글 정렬 설정
lc-time-names = ko_KR

# 기본 테이블 엔진
default-storage-engine = INNODB

# InnoDB 설정
innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_large_prefix = 1 

